
body{
    background: lightgray;
}


#about{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.wrap_first{
    width: 45%;
    margin:2%;
    border: 2px solid lightgoldenrodyellow;
    background: moccasin;
    border-radius: 10px;
    color: darkred;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.wrap_first>a{
    display: block;
    text-decoration: none;
    color: lightcoral;
    font-size: 150%;

}
.wrap_first>a:hover{
   color: lime;
    transition: 320ms;
}
.span{
    margin-right: 30px;
}
#second_page{
    justify-content: center;
}
.secondDiv{
    justify-content: center;
}
.second_button{
    background: moccasin;
    margin: 3% 0 5% 5%;
    width: 90%;
    padding: 10px 10px 10px 0;
    border-radius: 10px;
    border: 2px solid lightgoldenrodyellow ;
    color: darkred;
    font-weight: bold;
    font-size: 120%;
    justify-content: center;
    cursor: pointer;

}
.second_button:hover{
    color: moccasin;
    background: darkred;
    transition: 500ms;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_in{
    display: flex;
}
.wrapper_in>p{
    font-size: 120%;
    font-weight: initial;
    margin:10px 0 10px 0;
}
.wrapper_in>h3{
    margin:10px 10px 10px 0;
}

#two{
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
  justify-items:stretch;
    place-items: stretch;
}
.post_wrap{
    align-items: center;
    border: 1px solid black;
    justify-content: center;
    background: rgba(188, 201, 60, 0.1);
}
.post_wrap>p{
    font-weight:bold;
    color: crimson;
    margin-top: 5px;
   padding-left: 10%;
}
.post_wrap>h4{
    padding-left: 10%;
    color: darkred;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 5px;
}
.posts_btn{

    border-radius:10px;
    padding: 5px;
    border: 1px solid lightgoldenrodyellow;
    color: darkred;
    background: moccasin;
    font-weight: bold;
    margin:0 0 5% 35%;
}
.posts_btn:hover{
    color: moccasin;
    background: darkred;
    transition: 500ms;
    cursor: pointer;
}
#last_wrap{
    display: flex;
    flex-direction: column;
}

.com_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.more{
    display: flex;
    flex-direction: column;
}
.com_wrap>h2 {
    margin: 5px 10px 0 0 ;
}
.com_wrap>p {
    font-weight: lighter;
    font-size: 120%;
    margin:10px 5px 5px 5px;
}

#block_three{
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    justify-items:stretch;
    place-items: stretch;
}

.com_div{
    font-size: 120%;
    border: 1px solid lightcyan;
    justify-content: center;
    align-items: center;
  padding: 2% 2% 2% 7%;
    font-weight: bold;
    color:darkred ;
}